params {
	
	reads = "data/raw_fastqs/*_R{1,2}*.fastq.gz"

	fwd_primers = "data/forCutadapt/v1_fwd_primers.fasta"

	rev_primers = "data/forCutadapt/v1_rev_primers.fasta"

	outdir = "results/controls_demux"

}

/*
	Wynton Specific Process Config
*/

process {

	executor = "sge"

	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	errorStrategy = "retry"

	clusterOptions = '-l scratch=100G -S /bin/bash -o job.log -e job.err'

}

executor {

	queueSize = 1000

}

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}
